:root {
    // Toggle
    --light-color: yellow;
    --sky-color: skyblue;
    --dark-color: black;
    // Content
    --fh-color: #1b5d7a;
    --fh-font-color: #f5fcff;
    --button-color: #32aadf;
    --button-font-color: #f5fcff;
    --button-hover-color: #2a8eba;
    --bg-color: #ebf8fe;
    --font-color: black;
    --reverse-font-color: white;
    // Generated colors using https://javisperez.github.io/tailwindcolorshades/?picton-blue=38BDF8&minsk=312E81
}

[data-theme="dark"] {
    --fh-color: black;
    --fh-font-color: #f5fcff;
    --button-color: lightgrey;
    --button-font-color: black;
    --button-hover-color: black;
    --bg-color: grey;
    --font-color: white;
    --reverse-font-color: black;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

// Header & Footer
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--fh-color);
    width: 100vw;
}
header>h1 {
    color: var(--fh-font-color);
    margin: 20px 0px 20px 20vw;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--fh-color);
    width: 100vw;
}

footer>p {
    color: var(--fh-font-color);
    margin: 20px;
}

// Toggle Switch
.toggle-switch {
    box-sizing: border-box;
    position: relative;
    width: 100px;
    margin: 20px 20vw 20px 0px;
}

.toggle-switch>label {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: var(--dark-color);
    border-radius: 50px;
    cursor: pointer;
}

.toggle-switch>label>input {
    position: absolute;
    display: none;
}

.toggle-switch>label>input:checked~.slider {
    background-color: var(--sky-color);
}

.toggle-switch>label>.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

.toggle-switch>label>.slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    box-shadow: inset 14px -2px 0px 0px var(--light-color);
    background-color: var(--dark-color);
    transition: 0.3s;
}

.toggle-switch>label>input:checked~.slider::before {
    transform: translateX(42px);
    background-color: var(--light-color);
    box-shadow: none;
}

// Main
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    background-color: var(--bg-color);
    width: 100%;
}

#add-book {
    color: var(--button-font-color);
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}
#add-book:hover {
    background-color: var(--button-hover-color);
}

// Modal
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);  // Fallback
    background-color: rgba(0, 0, 0, 0.4);  // Black with opacity
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 25px;
    width: 200px;
}

.modal-content>div {
    display: block;
}

.modal-content>h2 {
    color: var(--font-color);
}

.modal-content>form>div>input[type="text"] {
    font-size: 18px;
    background-color: var(--bg-color);
    border: 2px solid var(--font-color);
    border-radius: 10px;
}

.modal-content>form>div>label {
    font-size: 18px;
}

#close {
    color: var(--button-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, close:focus {
    color: var(--button-hover-color);
    text-decoration: none;
    cursor: pointer;
}

#book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submit {
    float: right;
    font-size: 18px;
    color: var(--button-font-color);
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 25px;
}
#submit:hover {
    background-color: var(--button-hover-color);
}

